{% extends 'HTML/admin/Admin_base.html' %}
{% block content %}
    <style>

        .form-control {
            background-color: rgb(44, 44, 44);
            border: 1px solid rgb(101, 101, 101);
            color: #ffffff;
            border-radius: 10px;
        }

        div {
            color: #ace685;
        }
    </style>

    <ul class="list-group" style="box-shadow: rgba(255,255,255,0.55) 0px 0px 0px 0.5px;border-radius: 10px">
        <li class="list-group-item list-group-item-success" aria-current="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-card-list" viewBox="0 0 16 16">
                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
            </svg>
            添加商品
        </li>
        <li>
            <form method="post" style="margin: 10px;background-color: rgba(15,15,15,0);" novalidate>
                {#    crsf安全验证#}
                {% csrf_token %}
                {% for i in form %}
                    <div class="form-group">
                        <label for="exampleFormControlInput1">{{ i.label }}</label>
                        {{ i }}
                        {% if i.errors.0 != NULL %}
                            <div class="alert alert-danger" role="alert">{{ i.errors.0 }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary col">添加</button>
            </form>
        </li>
    </ul>


{% endblock %}